.home-bg .home .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 1.6rem;
    user-select: none;
}

body {
    overflow-x: hidden;
}

/* 
.home-bg .home .slide .image {
    flex: 40rem;
} */

.home-bg .home .slide .image img {
    height: 50rem;
    width: 100%;
    object-fit: contain;
    filter: brightness(0.6) contrast(1) saturate(1);
}

/* .home-bg .home .slide .content {
    flex: 40rem;
} */

.home-bg .home .slide .content span {
    font-size: 2rem;
}

.home-bg .home .slide .content h3 {
    margin-top: 1rem;
    font-size: 4rem;
    text-transform: uppercase;
}

.home-bg .home .slide .content .btn {
    display: inline-block;
    width: auto;
}

/*Overlapping sentences*/

/* .swiper-slide {

    text-decoration: none;
} */

.content {
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 1.5rem;
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: absolute;
}

/*Category section*/
.category .slide {
    margin-bottom: 5rem;
    text-align: center;
    padding: 2rem;
    border: 1px solid black;
    border-radius: .5rem;
    text-decoration: none;
}

.category .slide:hover {
    background-color: rgb(70, 66, 66);
    color: white;
}

.category .slide img {
    height: 3rem;
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
    user-select: none;
}

.category .slide h3 {
    font-size: 1.2rem;
    user-select: none;
}

.category {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.home-products {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.content .btn {
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    color: black;
    background-color: orange;
}

.empty {
    padding: 1.5rem;
    text-align: center;
    border-radius: .5rem;
    font-size: 2rem;
    text-transform: capitalize;
    background-color: rgb(151, 151, 0);
    color: rgb(18, 20, 22);
}

footer{
    margin-top: 2rem;
}

/*nav icon*/
.icon {
    padding: 10px;
}

.icon i {
    font-size: 1.4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 2px;
    padding: 5px;
    cursor: pointer;
    color: black;
}

.icon i:hover {
    color: rgba(40, 93, 40, 0.595);
}

/*About Part*/

.about .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.about .row .image {
    flex: 1;
}

.about .row .image img {
    width: 100%;
    height: 40rem;
    object-fit: contain;
}

.about .row .contents {
    flex: 1;
}

.contents .button {
    display: block;
    width: 100%;
    margin-top: 1rem;
    border-radius: .5rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    text-transform: capitalize;
    cursor: pointer;
    text-align: center;
    color: black;
    background-color: orange;
    text-decoration: none;
}

/*Order placed*/

/* .containers {
    padding-top: 2rem;
} */

.order .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-start;

}

/* .orders{
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
} */

/* .containers p {
    padding: 1rem 2rem;
    flex: 1 1 40rem;
    border: 2px solid black;
    background-color: white;
    border-radius: .5rem;
    width: 22rem;
    font-size: 1.2rem;
    color: rgb(39, 79, 39);
    font-weight: 500;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
} */

/*Products Boxes*/

.boxes {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    line-height: 20px;
    margin-bottom: 22px;
    cursor: pointer;
}

.boxes h6,
.boxes span {
    margin: 0;
    padding: 0.9rem;
}

.boxes h6 {
    color: rgba(10, 70, 10, 0.714);
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;
}

.boxes span {
    font-size: 1.2rem;
}

.boxes img {
    width: 16rem;
    object-fit: cover;
}

button[type='button'] {
    border: none;
    margin: 1rem;
    width: 200px;
    height: 50px;
    background-color: rgb(97, 132, 85);
    color: white;
}

.shop {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
    margin: 0.5rem;
}

.shops {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0.5rem;
}

.cart{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
}

button i {
    color: white;
    font-size: 1.2rem;
}

.box-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

#banner {
    background-image: url('../images/banner/banner5.png');
    height: 30vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#banner h3 {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    font-weight: 700;
}

#banner p{
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

/*Input Part*/

.contact p {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
}

.full-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 500px;
    margin: auto;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input[type='text'] {
    width: 100%;
    height: 3rem;
    padding: 12px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid aliceblue;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type='email'] {
    width: 100%;
    height: 3rem;
    padding: 12px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid aliceblue;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type='tel'] {
    width: 100%;
    height: 3rem;
    padding: 12px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid aliceblue;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

textarea {
    width: 100%;
    height: 10rem;
    padding: 12px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(172, 173, 174);
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input[type='submit'] {
    width: auto;
    height: 3rem;
    background-color: rgb(25, 105, 85);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 500px;
    margin: auto;
    margin-top: 2rem;
}

input[type="submit"]:hover {
    background-color: #1d6621;
}

/*Pro-Image Single Products*/
.prodetails{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin: 20px;
}

.pro-image{
    flex: 1;
    max-width: 30%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 30rem;
    margin: 4rem;
}

.pro-image img{
    object-fit: contain;
    height: 30rem;
    max-width: 100%;
}

.normal{
    width: auto;
    height: 3rem;
    background-color: rgb(25, 105, 85);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 500px;
    margin: auto;
    margin-top: 2rem;
}

.pro-details{
    flex: 2;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}

.pro-details h4, .pro-details h6, .pro-details h2{
    margin: 10px 0;
}

.pro-details input{
    margin: 10px 5px 20px 0;
}