* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: auto;
    background-color: #2d2f2f24;
}

.nav-bar {
    width: auto;
    background-color: #0f1111;
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo {
    height: 80px;
    width: 130px;
}

.logo {
    justify-content: center;
    align-items: center;
    background-image: url(amazon_logo.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}

.border {
    border: 2px solid transparent;
    padding: 10px;
    transition: border-width 0.3s ease;
    box-sizing: border-box;
}

.border:hover {
    border-width: 2px;
    border-color: white;
}


.border:active {
    border: 2px solid grey;
    padding: 10px;
}

.first {
    font-size: 0.7rem;
    color: #CCCCCC;
    margin-left: 15px;

}

.icon {
    display: flex;
    align-items: center;

}

.second {
    margin-left: 4px;
    font-size: 14px;
}

.nav-search {
    display: flex;
    width: 700px;
    height: 40px;
    background-color: rgb(230, 196, 61);
    border-radius: 3px;
    justify-content: space-evenly;
}

.all {
    height: 40px;
    width: 55px;
    background-color: #E6E6E6;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    font-size: 0.8rem;
    text-align: center;
}

.all:hover {
    border: 3px solid orange;
}

.text {
    height: 40px;
    font-size: 1rem;
    border: none;
    width: 700px;
}

.s-icon {
    height: 40px;
    width: 33px;
    align-items: center;
    display: flex;
    font-size: 1rem;
    margin-left: 10px;
    color: #0f1111;
}

.hello {
    font-size: 0.8rem;
}

.account {
    font-size: 1rem;
}

.nav-cart i {
    font-size: 40px;
}
